.Drawing {
  position: fixed;
  height: 100%;
  width: 100%;
}

.noQuestion {
  margin-top: 0;
  height: 100%;
}

.headerText {

}

.headerText > h3 {
  color: white;
  text-align: center;
  line-height: 18px;
  margin: 0;
  margin-top: 6px;
}

#lectureName {
  color: lightgray;
  margin: 0;
  line-height: 16px;
  font-weight: 300;
}

.headerBar {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #5C42AB;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.content {
  z-index: 2;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  padding-top: 48px;
  background-color: #F7FAFE;
  // overflow: scroll;
}

.questionDiv {
  text-align: center;
}

.responseDiv {
  margin-top: 10%;
  height: 100%;
  text-align: center;
}

.loadingDiv {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 20%;
  justify-content: center;
}

.loadingDiv > div {
  text-align: center;
}

.largeLoadingGif {
  content: url('/images/loading.gif');
  width: 120px;
  margin: auto;
}

.responseButton {
  margin: auto;
  padding: 18px 0;
  margin-top: 20px;
  background-color: lightgrey;
  width: 400px;
  height: 60px;
  cursor: pointer;
}

.responseButton:hover {
  background-color: grey;
}

@media (max-width: 400px) {
  .responseButton {
    width: 100%;
  }
}

#photo-input {
  margin-top: -60px;
  height: 60px;
  width: 400px;
  z-index: 1;
  position: relative;
  font-size: 1000px;
  overflow: hidden;
  cursor: pointer;
}

#photoLabel {
  z-index: 0;
}

.questionNotOpenDiv {
  color: red;
}

.SectionLabel {
  color: #ccc;
  padding-bottom: 2px;
  border-bottom: 3px solid #ddd;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;

  margin-left: 10px;
  margin-right: 10px;
}

.SectionLabel:hover{

}

.fullscreen {
  position: absolute;
  right: 1em;
  width: 30px;
  height: 30px;
  background-size: cover;
  z-index: 1;
}
